/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

/**
 * Basic styles for buttons
 */
.btn {
  background-color: $black;
  border: 1px solid $brand-color;
  border-radius: $smallRadius;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  cursor: pointer;
  padding: 10px 15px;
  width: fit-content;
}
