// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for main
 */
main {
  @include flex-col;
  padding-bottom: 150px;
  @include min-media-breakpoint($breakpoint-tablet) {
    flex-direction: row;
    min-height: 88.3vh;
    padding-bottom: 0px;
  }
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

/**
 * Basic styles for buttons
 */
.btn {
  background-color: $black;
  border: 1px solid $brand-color;
  border-radius: $smallRadius;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  cursor: pointer;
  padding: 10px 15px;
  width: fit-content;
}
