// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  border-radius: $smallRadius;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  height: 263px;
  overflow: hidden;
  position: relative;
  width: 258px;
  &__title {
    left: 20px;
    position: absolute;
    top: 15px;
  }
  @include min-media-breakpoint($breakpoint-laptop) {
    height: 263px;
    width: 258px;
    &__title {
      left: 30px;
      top: 24px;
    }
  }
}

.page-content {
  @include flex-col;
  gap: 30px;
  padding: 20px;
  @include min-media-breakpoint($breakpoint-tablet) {
    padding: 40px 70px 40px $vertical-nav-width;
  }
  @include min-media-breakpoint($breakpoint-laptop) {
    padding: 30px 0px 0px 150px;
  }
  @include min-media-breakpoint($breakpoint-laptopXL) {
    gap: 77px;
    margin: 48px 0px 88px;
    padding: 20px 15px 0px 226px;
  }
  @include min-media-breakpoint($breakpoint-desktopXL) {
    margin: 32px 32px 0px;
    gap: 20px;
  }
}
