/***************************** TYPOGRAPHY *****************************/
/****************************************************** COLORS */
body {
  color: $text-color;
}
.menu__link,
.vertical-section__copyright,
.average-sessions__title,
.btn,
.authentication,
.activity__custom-tooltip {
  color: $white;
}
.dashboard-header__firstName {
  color: $brand-color;
}
.user-datas-card__category,
.today-score__legend,
.activity__legend {
  color: $grey;
}
.today-score__percentage {
  color: $black;
}

/****************************************************** FONTS */

body,
.btn {
  font-family: 'Roboto', sans-serif;
}
/***************************************** line height */
body {
  line-height: 1.5rem;
}
/***************************************** font weight */
body {
  font-weight: 500;
}
.bold,
.user-datas-card__value,
.today-score__percentage,
.btn {
  font-weight: 700;
}
.light-font,
.authentication .subtitle {
  font-weight: 400;
}
/***************************************** font size */
.today-score__legend {
  font-size: 0.7rem;
}
.today-score__percentage {
  font-size: 1.2rem;
}
.menu__link {
  font-size: 1rem;
}
.title1 {
  font-size: 2rem;
}
.subtitle {
  font-size: 0.8rem;
}
.container__title {
  font-size: 0.8rem;
}
.user-datas-card__value {
  font-size: 1rem;
}
.activity__legend,
.user-datas-card__category {
  font-size: 0.7rem;
}
.performance__kind,
.vertical-section__copyright {
  font-size: 0.6rem;
}
.average-sessions__custom-tooltip,
.activity__custom-tooltip {
  font-size: 0.7rem;
}

@include min-media-breakpoint($breakpoint-laptopXL) {
  .today-score__legend {
    font-size: 1rem;
  }
  .today-score__percentage {
    font-size: 1.625rem;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .title1 {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.125rem;
  }
  .container__title {
    font-size: 0.938rem;
  }
  .user-datas-card__value {
    font-size: 1.25rem;
  }
  .activity__legend,
  .user-datas-card__category {
    font-size: 0.875rem;
  }
  .performance__kind,
  .vertical-section__copyright {
    font-size: 0.75rem;
  }
}
