/***************************** IMPORTS *****************************/
/* google font Anton + Manrope*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;400&display=swap');
/***************************** TYPOGRAPHY *****************************/
/****************************************************** COLORS */
body {
  color: $text-color;
}
/****************************************************** FONTS */

body {
  font-family: 'Roboto', sans-serif;
}

/***************************************** font weight */
body {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
/***************************************** font size */
/***************************************** line height */
/***************************************** text transform */
/***************************************** text shadow */
