.dashboard-header {
  @include flex-col;
  gap: 20px;
  width: fit-content;
  @include min-media-breakpoint($breakpoint-laptop) {
    flex-direction: row;
    align-items: baseline;
  }
  @include min-media-breakpoint($breakpoint-laptopXL) {
    flex-direction: column;
    gap: 41px;
  }
}
