.header {
  align-items: center;
  background-color: $black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding-left: 29px;
  padding-right: 29px;
  width: 100%;
  &__logo {
    z-index: 99;
  }

  @include min-media-breakpoint($breakpoint-laptop) {
    padding-right: 91px;
  }
}
