.vertical-section {
  @include flex-col;
  align-items: center;
  background-color: $black;
  bottom: 0;
  gap: 10px;
  height: auto;
  justify-content: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 99;

  @include min-media-breakpoint($breakpoint-tablet) {
    padding-block-end: 110px;
    position: relative;
    width: 80px;
    &__copyright {
      bottom: 59px;
      position: absolute;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
    }
  }
  @include min-media-breakpoint($breakpoint-laptopXL) {
    min-height: 933px;
  }
  @include min-media-breakpoint($breakpoint-laptopXL) {
    width: $vertical-nav-width;
  }
}
