.vertical-section {
  @include flex-col;
  align-items: center;
  background-color: $black;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: $vertical-nav-width;
  z-index: -1;
  &__nav {
    @include flex-col;
    gap: 20px;
    &-link {
      height: 64px;
    }
  }
  &__copyright {
    position: absolute;
    bottom: 5%;
  }
}
