// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin fullHeightWidth {
  height: 100%;
  width: 100%;
}

// mixin for media queries
@mixin media-breakpoint($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

// mixin for media queries - mobile first
@mixin min-media-breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
